<!-- MENU -->
<div id="menu" class="menucontain">
<lateral-slide-menu ng-cloak>

    <ul>

        <li><a ui-sref="home">
            <img src="https://graph.facebook.com/{{userimage}}/picture?type=small" alt="#" class="proimg"/>
            <label><strong>John Smith</strong></label></a>
            <div class="clear"></div>

        </li>


        <li><a ui-sref="home">
            <img src="./ng-images/profile_icon.png" alt="#"/>
            <label>Profile</label></a></li></a>

        <div class="clear"></div>
        </li>


        <li><a ui-sref="record"><img src="./ng-images/g_icon.png" alt="#"/>
            <label>GratiTube</label></a></li></a>

        <div class="clear"></div>
        </li>




        <li><a href="#"><img src="./ng-images/fr_icon.png" alt="#"/>
            <label>Friends</label> <span>11</span></a>

            <div class="clear"></div>
        </li>


        <li><a href="#"><img src="./ng-images/fo_icon.png" alt="#"/>
            <label>Followers</label> <span>11</span></a>

            <div class="clear"></div>
        </li>


        <li><a href="#"><img src="./ng-images/re_icon.png" alt="#"/>
            <label>Reminders  <span>11</span></label></a>
            <div class="clear"></div>

        </li>


        <li><a href="#"><img src="./ng-images/logout.png" alt="#"/>
            <label>Logout</label></a>
            <div class="clear"></div>

        </li>
    </ul>

</lateral-slide-menu>

<!-- main page -->

    <table border="0" cellpadding="0" cellspacing="0" style="width: 98%; height: 70px; margin: 0 auto; padding: 0 1%">
        <tr>
            <td align="left" valign="middle" width="25%"><div class="main-page lateral-slide-menu-main-page">
                <a href="" class="toggle-menu" lateral-slide-menu-toggle><img src="./ng-images/link1.png" alt="#" /></a>
            </div>
</div></td>
            <td align="center" valign="middle" width="50%"><img src="./ng-images/logo_tr.png" alt="#" class="containlogo"  style="display: block; margin: 0 auto;"/></td>
            <td align="right" valign="middle" width="25%"></td>



        </tr>


    </table>

