<!-- MENU -->
<div id="menu">
<lateral-slide-menu ng-cloak>

    <ul>
        <li><a ui-sref="home" class="selected">Home</a></li>
        <li><a ui-sref="record">Record </a></li>
        <li><a href="#">Demo</a></li>
        <li><a href="#">How to use</a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</lateral-slide-menu>

<!-- main page -->
<div class="main-page lateral-slide-menu-main-page">
    <a href="" class="toggle-menu" lateral-slide-menu-toggle></a>
</div>
</div>