<!-- MENU -->

<lateral-slide-menu ng-cloak>

    <ul>

        <li><a ui-sref="home">
            <img src="https://graph.facebook.com/{{userimage}}/picture?type=small" alt="#" class="proimg"/>
            <label><strong>{{name}}</strong></label></a>
            <div class="clear"></div>

        </li>


        <li><a ui-sref="home">
            <img src="./ng-images/profile_icon.png" alt="#"/>
            <label>Profile</label></a></li></a>

        <div class="clear"></div>
        </li>


        <li><a ui-sref="record"><img src="./ng-images/g_icon.png" alt="#"/>
            <label>GratiTube</label></a></li></a>

        <div class="clear"></div>
        </li>




        <li><a ui-sref="friends"><img src="./ng-images/fr_icon.png" alt="#"/>
            <label>Friendsssd</label> <span>{{friendno}}</span></a>

            <div class="clear"></div>
        </li>


       <!-- <li><a href="#"><img src="./ng-images/fo_icon.png" alt="#"/>
            <label>Followers</label> <span>11</span></a>

            <div class="clear"></div>
        </li>-->


        <li><a href="#"><img src="./ng-images/re_icon.png" alt="#"/>
            <label>Reminders  </label> <span>11</span></a>
            <div class="clear"></div>

        </li>


        <li><a ui-sref="logout"><img src="./ng-images/logout.png" alt="#"/>
            <label>Logout</label></a>
            <div class="clear"></div>

        </li>
    </ul>

</lateral-slide-menu>

<!-- main page -->



