<div id="menu" class="menucontain">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 98%; height: 70px; margin: 0 auto; padding: 0 1%">
        <tr>
            <td align="left" valign="middle" width="25%"><div class="main-page lateral-slide-menu-main-page">
                <a href="javascript:void(0)"  class="toggle-menu" lateral-slide-menu-toggle><img src="./ng-images/link1.png" alt="#" /></a>
            </div>
            </td>
            <td align="center" valign="middle" width="50%"><img src="./ng-images/record.png" alt="#" class="containlogo"  style="display: block; margin: 0 auto;"/></td>
            <td align="right" valign="middle" width="25%"></td>



        </tr>


    </table>
</div>


<div class="maincontent">

    <div class="recordwrapper">

    <div class="recordimg">
        <img src="./ng-images/pic3.png" alt="#" />


    </div>

        <div class="record-menu">

            <ul>
                <li><a ng-click="uploadvideo()" href="javascript:void(0)" >Record a Video</a> </li>
                <li><a href="javascript:void(0)" ng-click="uploadimage()" >Upload Video or Photo</a> </li>

            </ul>

        </div>


    </div>


    <div class="recordbody">

      <h2 class="activerecord"> Title &  Massage</h2>
       <div class="textcon">
           <label>Title</label>
           <input type="text" class="recordinput">

           <label>Massage</label>
           <textarea class="recordmassage"></textarea>



       </div>


        <h2> Privacy</h2>
        <div class="textcon">
            <input type="radio"><span>Pablice</span>
            <input type="radio"><span>Private</span>


        </div>


        <h2> Select Recipient</h2>

  <input type="submit" value="Submit" class="recoresubmit">



        <!----->
    </div>


    </div>